.visite {
	margin-top: 40px;
}
.visite__visiteGallery {
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 95%;
}
.visite__visiteGalleryImage {
	cursor: pointer;
}