.header {
	height: 100vh;
	background: url(../../app/img/home_small.jpg);
	background-size: cover;
	font-family: Oswald;
}
.header__mobileMenuContainer {
	display: flex;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}
.header__presentationContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.header__presentationLogo {
	margin-right: auto;
	margin-left: auto;
	max-width: 200px;
}
.header__presentationTitle {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.5em;
}
.header__presentationDown {
	font-size: 2em !important;
	margin-top: 30%;
	color: #fff !important;
}