.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: auto;
	background: url(../../app/img/home_small.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	font-family: 'Roboto';
}
.not-display {
	display: none;
}
.header__mobileMenuContainer {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}
.header__presentationContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}
.header__presentationLogo {
	margin-right: auto;
	margin-left: auto;
	max-width: 250px;
}
.header__presentationTitle {
	color: #fff;
	font-size: 1.3em;
}
.header__presentationDown {
	text-align: center;
	font-size: 2em !important;
	margin-top: 30%;
	color: #fff !important;
}