	<section class="contact" id="contact">
		<h1 class="contact__title">Contactez-nous</h1>
		<div class="contact__logo">
			<img src="img/contact-logo.jpg" />
			<div class="contact__logoText">
			  	<h1>Gagnez 50€</h1>
				<p>sur votre présentation<br/> de visite virtuelle Google<br/> en parrainant vos proches</p>
			</div>
		</div>
		<form class="contact__form" action="#">
			<div class="contact__formInput">
				<input type="text" name="name" placeholder="Nom*" autocomplete="on" required>
			</div>
			<div class="contact__formInput">
				<input type="text" name="company" placeholder="Société" autocomplete="off"/>
			</div>
			<div class="contact__formInput">
				<input type="email" name="mail" placeholder="Adresse E-mail*" autocomplete="on" required/>
			</div>
			<div class="contact__formInput">
				<input type="tel" name="phone" placeholder="Numéro de téléphone" autocomplete="on"/>
			</div>
			<div class="contact__formInput">
				<textarea name="message" placeholder="Message*" autocomplete="off" spellcheck="on" required/></textarea>
			</div>
			<div class="contact__formInput">
				<button class="contact__formSubmit" type= "submit">Envoyer</button>
			</div>
		</form>
	</section>
