	<section class="contact" id="contact">
		<h2 class="contact__title">Contactez-nous</h2>
		<div class="contact__logo">
			<img class="contact__logoImage" src="img/contact-logo.jpg" alt=""/>
			<div class="contact__logoText">
			  	<h3 class="contact__logoText--price">Gagnez 50€</h3>
				<p class="contact__logoText--text">sur votre présentation<br/> de visite virtuelle Google<br/> en parrainant vos proches</p>
			</div>
		</div>
		<form class="contact__form" action="#">
			<div class="contact__formInput">
				<input class="contact__formInput--input" type="text" name="name" placeholder="Nom*" autocomplete="on" required>
			</div>
			<div class="contact__formInput">
				<input class="contact__formInput--input" type="text" name="company" placeholder="Société" autocomplete="off"/>
			</div>
			<div class="contact__formInput">
				<input class="contact__formInput--input" type="email" name="mail" placeholder="Adresse E-mail*" autocomplete="on" required/>
			</div>
			<div class="contact__formInput">
				<input class="contact__formInput--input" type="tel" name="phone" placeholder="Numéro de téléphone" autocomplete="on"/>
			</div>
			<div class="contact__formInput">
				<textarea class="contact__formInput--textarea" name="message" placeholder="Message*" autocomplete="off" spellcheck="true" required ></textarea>
			</div>
			<div class="contact__formInput">
				<button class="contact__formSubmit" type= "submit">Envoyer</button>
			</div>
		</form>
	</section>
