<footer class="footer">
    <ul class="footer__socialNetwork">
        <li class="footer__socialNetworkList"><a href="https://www.facebook.com/gopened" target="_blank"><i class="fa fa-facebook-square footer__socialNetworkItem" aria-hidden="true"></i></a></li>
        <li class="footer__socialNetworkList"><a href="https://twitter.com/Gopened360" target="_blank"><i class="fa fa-twitter-square footer__socialNetworkItem" aria-hidden="true"></i></a></li>
        <li class="footer__socialNetworkList"><a href="https://www.linkedin.com/company/gopened" target="_blank"><i class="fa fa-linkedin-square footer__socialNetworkItem" aria-hidden="true"></i></a></li>
        <li class="footer__socialNetworkList"><a href="https://plus.google.com/106330873186425145964" target="_blank"><i class="fa fa-google-plus-square footer__socialNetworkItem" aria-hidden="true"></i></a></li>
    </ul>
    <p class="footer__copyright"><a href="index.html">© Gopened</a> - 2016</p>
</footer>
</body>
</html>
