		<header class="header--visit">
			<div class="header__visiteContainer">
				<img class="header__visiteLogoSmall" src="img/logo_small.png" alt="Logo Gopened">
				<img class="header__visiteLogoMedium" src="img/logo_medium.png" alt="Logo Gopened">
				<h1 class="header__visiteTitle">Contactez-nous</h1>
			</div>
		</header>