<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Gopened - Visite Virtuelle à 360°</title>
		<!-- Open Graph -->
		<meta property="og:title" content="Gopened - Visite Virtuelle à 360°" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="Les photographes du réseau Gopened ont reçu une certification Google Street View Trusted, pour réaliser les visites virtuelles d'établissements et les intégrer sur tous les supports Google." />
		<meta property="og:url" content="http://mohsadat.com/devprojet/" />
		<!-- Open Graph end -->
		<!-- Twitter -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@gopened360" />
		<meta name="twitter:title" content="Gopened - Visite Virtuelle à 360°" />
		<meta name="twitter:description" content="Les photographes du réseau Gopened ont reçu une certification Google Street View Trusted, pour réaliser les visites virtuelles d'établissements et les intégrer sur tous les supports Google." />
		<!-- Twitter end -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="fonts/css/font-awesome.min.css">
		<script type="text/javascript" src="vendors/jquery.js"></script>
		<script type="text/javascript" src="js/scripts.js"></script>
	</head>
	<body>
		<header class="header">
			<!--<div class="header__mobileMenuContainer">
				<div class="header__mobileMenuIcon">
	  				<span class="header__mobileMenuIconLine"></span>
	  				<span class="header__mobileMenuIconLine"></span>
	  				<span class="header__mobileMenuIconLine"></span>
	  				<span class="header__mobileMenuIconLine"></span>
	  				<span class="header__mobileMenuIconLine"></span>
	  				<span class="header__mobileMenuIconLine"></span>
				</div>
			</div>
			<ul class="header__menu">
				<li class="header__menuItem"><a class="header__menuItemLink" href="#">Lien 1</a></li>
				<li class="header__menuItem"><a class="header__menuItemLink" href="#">Lien 2</a></li>
				<li class="header__menuItem"><a class="header__menuItemLink" href="#">Lien 3</a></li>
				<li class="header__menuItem"><a class="header__menuItemLink" href="#">Lien 4</a></li>
			</ul>-->
			<div class="header__presentationContainer">
				<img class="header__presentationLogoSmall" src="img/logo_small.png" alt="Logo Gopened">
				<img class="header__presentationLogoMedium" src="img/logo_medium.png" alt="Logo Gopened">
				<h1 class="header__presentationTitle">Proposez la visite virtuelle de votre établissement</h1>
			</div>
			<a class="header__presentationButton" href="#pres">Découvrir</a>
		</header>
