<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Gopened - Visite Virtuelle à 360°</title>
		<!-- Open Graph -->
		<meta property="og:title" content="Gopened - Visite Virtuelle à 360°" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="Les photographes du réseau Gopened ont reçu une certification Google Street View Trusted, pour réaliser les visites virtuelles d'établissements et les intégrer sur tous les supports Google." />
		<meta property="og:url" content="http://mohsadat.com/devprojet/" />
		<!-- Open Graph end -->
		<!-- Twitter -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@gopened360" />
		<meta name="twitter:title" content="Gopened - Visite Virtuelle à 360°" />
		<meta name="twitter:description" content="Les photographes du réseau Gopened ont reçu une certification Google Street View Trusted, pour réaliser les visites virtuelles d'établissements et les intégrer sur tous les supports Google." />
		<!-- Twitter end -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="fonts/css/font-awesome.min.css">
		<script type="text/javascript" defer src="js/scripts.js" ></script>
		<script async src="https://storage.googleapis.com/vrview/2.0/build/vrview.min.js"></script>
	</head>
	<body>
