		<header class="header--visit">
			<!--<div class="header__mobileMenuContainer">
				<div class="header__mobileMenuIcon">
	  				<span class="header__mobileMenuIconLine"></span>
	  				<span class="header__mobileMenuIconLine"></span>
	  				<span class="header__mobileMenuIconLine"></span>
	  				<span class="header__mobileMenuIconLine"></span>
	  				<span class="header__mobileMenuIconLine"></span>
	  				<span class="header__mobileMenuIconLine"></span>
				</div>
			</div>
			<ul class="header__menu">
				<li class="header__menuItem"><a class="header__menuItemLink" href="#">Lien 1</a></li>
				<li class="header__menuItem"><a class="header__menuItemLink" href="#">Lien 2</a></li>
				<li class="header__menuItem"><a class="header__menuItemLink" href="#">Lien 3</a></li>
				<li class="header__menuItem"><a class="header__menuItemLink" href="#">Lien 4</a></li>
			</ul>-->
			<a class="header__backHome" href="index.html"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
			<div class="header__visiteContainer">
				<img class="header__visiteLogoSmall" src="img/logo_small.png" alt="Logo Gopened">
				<img class="header__visiteLogoMedium" src="img/logo_medium.png" alt="Logo Gopened">
				<h1 class="header__visiteTitle">Découvrez notre service</h1>
			</div>
		</header>
