<div class="offresTab">
 	<h2 class="offres__title">Optimiser votre visibilité</h2>
	<div class="offresTab__vignette">
		<div class="offresTab__container">
			<div class="offresTab__logo">
				<img src="img/devices.png" alt="" class="offres__icon"/>
			</div>
			<div class="offresTab__text">
				<p>Intégrez facilement <br>votre visite virtuelle <br> sur votre site web <br>et  sur les réseaux sociaux</p>
			</div>
		</div>
		<div class="offresTab__container">
			<div class="offresTab__logo">
				<img src="img/open.png" alt="" class="offres__icon"/>
			</div>
			<div class="offresTab__text">
				<p >Augmentez le nombre <br>de visiteurs et de réservations <br> en permettant  à vos futurs clients de découvrir vos locaux 24h/24</p>
			</div>
		</div>
		<div class="offresTab__container">
			<div class="offresTab__logo">
				<img src="img/rise.png" alt="" class="offres__icon"/>
			</div>
			<div class="offresTab__text">
				<p>Boostez votre référencement <br> en étant visible  sur les <br> pages de recherche <B>Google</B>, <B>Google Maps</B> et <B>Google+</B></p>
	        </div>
		</div>
	</div>
	<a href="#" class="offres__buttonLink">Je deviens visible</a>
</div>
