<h2 class="solutions__title">L'impact positif des visites virtuelles</h2>
<div class="solutions__vignette">
	<div class="solutions__top">
		<div class="solutions__container">
			<div class="solutions__logo">
				 <img class="solutions_statClientsGroup" alt="" src="img/users-group.png" />
			</div>
			<div class="solutions__stat">
				<div class="solutions__statNumber__left">84%</div>
			</div>
			<div class="solutions__text">
				<p>Des clients interrogés affirment <br/> que la visite virtuelle a pesé<br/> dans leur choix</p>
			</div>
		</div>
		<div class="solutions__container">
			<div class="solutions__logo">
				 <img class="solutions_statClientsGroup" alt="" src="img/users-group.png" />
			</div>
			<div class="solutions__stat">
				<div class="solutions__statNumber__right">62%</div>
			</div>
			<div class="solutions__text">
				<p>Des consommateurs utilisent <br/>Google pour chercher un <br>commerce local<p>
			</div>
		</div>
		<div class="solutions__container" id ="bot-desktop">
			<div class="solutions__logo">
				 <img class="solutions_statClientsGroup" alt="" src="img/users-group.png" />
			</div>
			<div class="solutions__stat">
				<div class="solutions__statNumber__bot">20%</div>
			</div>
			<div class="solutions__text">
				<p>D'affluence physique <br>supplémentaire dans <br> votre établissemment</p>
			</div>
		</div>
	</div>
	<div class="solutions__bot">
		<div class="solutions__container">
			<div class="solutions__logo">
				 <img class="solutions_statClientsGroup" alt="" src="img/users-group.png" />
			</div>
			<div class="solutions__stat">
				<div class="solutions__statNumber__bot">20%</div>
			</div>
			<div class="solutions__text">
				<p>D'affluence physique <br> supplémentaire</p>
			</div>
		</div>
	</div>
</div>
<div class="solutions__certification">
	<div class="solutions__certificationLogo">
		<img src="img/11.png" title="" class="pres__imgTrusted" alt="Logo Trusted" />
	</div>
	<div class="solutions__certificationText">
		 <p>Les photographes du réseau Gopened ont reçu une certification Google Street View Trusted pour réaliser les visites virtuelles d'établissements et les intégrer sur tous les supports Google</p>
	</div>
</div>


