.offres {
	font-family: 'Roboto';
	text-align: center;
}
.offres__title{
	text-align: center;
	font-size: 20px;
	color: #3f4044;
}
.offres_container {
	display: flex;
	justify-content: space-around;
	margin-top: 45px;
	width: 85%;
	color: #3f4044;
	margin-left: auto;
	margin-right: auto;
}
.offres__text {
	margin-left: 20px;
	margin-top: auto;
	margin-bottom: auto;
}
.offres__text-left {
	margin-right: 20px;
	margin-top: auto;
	margin-bottom: auto;
}
.offres__icon{
	width: 103px;
	height: 103px;
}
.offres__buttonLink{
	display: block;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 8px;
	color: #fff;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	margin-bottom: 30px;
	background-color: $blueColor;
}
