.contact{
	margin : 30px 0;
	font-family: 'Roboto';
	@include verticalyCentered;
}

.contact__form{
	width: 80%;
	margin:  30px 0;
	@include verticalyCentered;
}

.contact__title{
	text-align: center;
	font-size: 1.3em;
	margin-top: 20px;
	margin-bottom: 20px;
}

.contact__formSubmit{
	text-align: center;
	text-decoration: none;
	padding: 10px 40px;
	border-radius: 8px;
	border: none;
	color: #fff;
	background-color: #2196f3;

	@media (min-width: 700px) {
		align-self: flex-start;
	}
}
button.contact__formSubmit:hover{
	background-color: $blueColor2;
	cursor: pointer;
}

.contact__formInput{
	@include verticalyCentered;
	font-size: 0.7em;
	width: 100%;
	margin-bottom: 20px;

	@media (min-width: 700px) {
		width: 70vh;
		flex-direction: row;
		justify-content: center;
	}
}

.contact__formInput input, textarea{
	text-align: center;
	height: 30px;
	width: 80%;
	background-color: #f2f2f2;
	color: black;
	font-weight: bold;
	border: 0;
	outline: none;
}
.contact__formInput input:focus::-webkit-input-placeholder { color:transparent; }
.contact__formInput input:focus:-moz-placeholder { color:transparent; }
.contact__formInput textarea:focus::-webkit-input-placeholder { color:transparent; }
.contact__formInput textarea:focus:-moz-placeholder { color:transparent; }

.contact__formInput textarea{
	height: 50px;
}

.contact__logo {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}

.contact__logo img{
	height: 80px;
}

.contact__logoText{
	font-weight: 400;
	color: #3897c2;
	margin-left: 2%;
	text-align: center;
	@include verticalyCentered;
}

.contact__logoText h1{
	font-weight: 600;
	height: auto;
	font-size: 0.8em;
}

.contact__logoText p{
	height: auto;
	font-size: 0.6em;
}
