{{> head }}
{{> header-cc }}
<section class="contact">
	<div class="contact__logo">
		<img src="img/contact-logo.jpg" />
		<div class="contact__logoText">
		  	<h1>Gagnez 50€</h1>
			<p>sur votre présentation de visite virtuelle Google en parrainant vos proches</p>
		</div>
	</div>
	<form class="contact__form" action="">
		<div class="contact__formInput">
			<label for="name">Nom & prénom</label>
			<input type="text" name="name">
		</div>
		<div class="contact__formInput">
			<label for="company">Société</label>
			<input type="text" name="company">
		</div>
		<div class="contact__formInput">
			<label for="mail">E-mail</label>
			<input type="text" name="mail">
		</div>
		<div class="contact__formInput">
			<label for="phone">Téléphone</label>
			<input type="text" name="phone">
		</div>
		<div class="contact__formInput">
			<label for="message">Message</label>
			<textarea name="message"></textarea>
		</div>
		<div class="contact__formInput">
			<button class="contact__formSubmit" type= "submit">Envoyer</button>
		</div>
	</form>	
</section>
{{> footer}}