{{> head }}
{{> header }}
    <section class="pres" id="pres">
            <div class="pres__presentationContainer">
                <img src="img/11.png" title="" class="pres__imgTrusted" alt="Logo Trusted" />
                <h2 class="pres__text">Faites entrer vos futurs clients dans votre établissement <br> avec une visite virtuelle à 360°</h2>
            </div>
            <div class="pres__presentationPanorama">
                <img class="pres__presentationLogo" src="img/logo_small.png" title="" alt="Logo Gopened" />
            </div>
            <div class="pres__presentationVr " id="vrview"></div>
            <a href="visite-virtuelle.html" class="pres__buttonLink">J'essaye</a>
        </section>

        <section class="solutions">
            <!--Tablette -->
            {{> solutions-tablette }}
            <!--/Tablette-->
            <div class="solutions__clientsContainer">
                <div class="solutions__stat">
                    <p class="solutions__statClients">84<span class="solutions_statClientsPourcent">%</span></p>
                    <img class="solutions_statClientsGroup" alt="" src="img/users-group.png" />
                </div>
                <div class="solutions_textClientsblock">
                    <p class="solutions__textClients">des clients<br/> interrogés<br/> affirment que la<br/> visite<br/> virtuelle a pesé<br/> dans<br/> leur choix</p>
                </div>
            </div>
            <div class="solutions__certifContainer">
                <p class="solutions__certifText">Les photographes du réseau Gopened ont reçu une certification Google Street View Trusted pour réaliser les visites virtuelles d'établissements et les intégrer sur tous les supports Google</p>
            </div>
            <img class="solutions__certifLogo" alt="" src="img/oldGoogleLogo.png" />
            <p class="solutions__prix">À partir de<span class="solutions__prixSomme"> 199 €</span></p>
            <a href="#" class="solutions__buttonLink">Découvrez nos offres</a>
        </section>

          <!--Tablette -->
        {{> offres-tablette }}
        <!--/Tablette-->
        <section class="offres">
            <h2 class="offres__title">Optimiser votre visibilité</h2>
            <div class="offres_container">
                <img src="img/devices.png" alt="" class="offres__icon"/>
                <p class="offres__text">Intégrez facilement votre visite virtuelle sur votre site web et sur les réseaux sociaux</p>
            </div>
            <div class="offres_container">
                <p class="offres__text-left">Augmentez le nombre de visiteurs et de réservations en permettant à vos futurs clients de découvrir vos locaux 24h/24</p>
                <img src="img/open.png" alt="" class="offres__icon"/>
            </div>
            <div class="offres_container">
                <img src="img/rise.png" alt="" class="offres__icon"/>
                <p class="offres__text">Boostez votre référencement en étant visible sur les pages de recherche <B>Google</B>, <B>Google Maps</B> et <B>Google+</B></p>
            </div>
            <a href="visite-virtuelle.html#contact" class="offres__buttonLink">Contactez-nous</a>
        </section>
{{> footer }}
