{{> head }}
{{> header-vv }}
	<section class="visite">
		<iframe class="visite__visitePrincipale" id="vPrincipale" src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sfr!2sfr!4v1479307191423!6m8!1m7!1sn_MyMYOnUKS_LiY7EH4oRw!2m2!1d48.86778127104915!2d2.302886187464765!3f79.2956705753835!4f-11.378200785094123!5f0.7820865974627469" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
		<div class="visite__visiteGallery">
			<img class="visite__visiteGalleryImage" onclick="getVisit1();" src="img/vv1_small.jpg"></img>
			<img class="visite__visiteGalleryImage" onclick="getVisit2();" src="img/vv2_small.jpg"></img>

		</div>
	</section>

{{> footer}}